{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">


    <link rel="stylesheet" href="{% static 'css/mdui.min.css' %}"/>


<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

          <style>

    .search-input {
        width:200px;
    }
    </style>


      <body>

<div class="mdui-appbar">
    <div class="mdui-toolbar">
        <a href="{% url 'WelcomePage' %}"> <img class="mdui-center" src="{% static "1.png" %}" height="70px"/></a>
        <div class="mdui-toolbar-spacer">
            <div class="mdui-row">
                <div class="mdui-col-xs-6 mdui-col-sm-4"></div>
                <div class="mdui-col-xs-6 mdui-col-sm-5"></div>
                <div class="mdui-col-xs-6 mdui-col-sm-3">
                    {% if user %}
                        <div class="mdui-col-xs-10">
                            <div class="mdui-textfield  search-input">
                                <i class="mdui-icon material-icons">search</i>
                                <input class="mdui-textfield-input" placeholder="search"/>
                            </div>
                        </div>
                        <div class="mdui-col-xs-2">
                            <a href="{% url 'logout' %}"> <i class="mdui-icon material-icons">exit_to_app</i></a>
                        </div>
                    {% else %}
                        <div class="mdui-textfield  search-input">
                            <i class="mdui-icon material-icons">search</i>
                            <input class="mdui-textfield-input" placeholder="search"/>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="mdui-tab mdui-tab-centered" id="tab" mdui-tab>
	<a href="{% url 'blog' %}" id="tab1" class="mdui-ripple">
	    <i class="mdui-icon material-icons">&#xe614;</i>
	    <label>广场</label>
	</a>
	<a href="{% url 'news' %}" id="tab2" class="mdui-ripple">
	    <i class="mdui-icon material-icons">&#xe8d3;</i>
	    <label>新闻</label>
	</a>
	<a href="{% url 'myzone' %}" id=tab3 class="mdui-ripple">
	    <i class="mdui-icon material-icons">&#xe7f2;</i>
	    <label>我的</label>
	</a>
    </div>
</div>

</body>
{% block content %}{% endblock %}
<body class="mdui-bottom-nav-fixed">

</body>
</html>
  </body>
  </head>
</html>
