{% extends "petsemergency/base.html" %}
{% load static %}
{% block title %}广场{% endblock %}

{% block content %}
<title>Blog</title>
  <div class="container">
  <header class="blog-header py-3">
  </header>

  <div class="nav-scroller py-1 mb-2">
  </div>
      <style>
		.container{
			padding-top: 30px;
		}
		/*设置编辑框高度*/
		.w-e-text-container{
			height: 100px !important;
		}
          .form-control{
              width: 1100px;
          }
		</style>
		<!-- 引入jquery -->
		<script src="http://code.jquery.com/jquery-1.11.3.js"></script>
		<!-- 引入wangEditor插件 -->
		<script type="text/javascript" src="https://unpkg.com/wangeditor@3.1.1/release/wangEditor.min.js"></script>
		<form id="form" method="POST">
            {% csrf_token %}

            <input type="text" class="form-control" required name="title" placeholder="开始题目吧ฅ(๑ ̀ㅅ ́๑)ฅ">
  <div class="nav-scroller py-1 mb-2">
  </div>
			<div id="contentDiv" style="width: 1100px;"></div>
			<textarea name="content" id="content" style="display:none" ></textarea>
            <input type="hidden" required name="con" id="editortxt">



              <div class="nav-scroller py-1 mb-2"></div>

<link rel="canonical" href="https://letswrite.tw/google-map-api-place-api/">
<div id="app" class="container">

      <!-- 搜尋框 -->
      <div class="row">
        <div class="col google-map">
          <h5>Address</h5>
          <div class="form-group">
            <input type="text" class="form-control" ref="site" v-model="site">
          </div>
        </div>
      </div>

      <!-- 放google map的div -->
      <div class="row">
        <div class="col google-map">
          <div id="map" class="embed-responsive embed-responsive-16by9"></div>
        </div>
      </div>
</div>

    <!-- 將 YOUR_API_KEY 替換成你的 API Key 即可 -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJW4jsPlNKgv6jFm3B5Edp5ywgdqLWdmc&libraries=places"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

    <!-- map -->
    <script>
      const googleMap = new Vue({
        el: '#app',
        data: {
          map: null,
          autocomplete: null,
          site: '', // place API要綁定的搜尋框
          place: null // 存place確定後回傳的資料
        },
        methods: {
          // init google map
          initMap() {

            let location = {
              lat: 39.9,
              lng: 116.3
            };

            this.map = new google.maps.Map(document.getElementById('map'), {
              center: location,
              zoom: 10
            });
          },
          // 地址自動完成 + 地圖的中心移到輸入結果的地址上
          siteAuto() {

            let options = {
              componentRestrictions: { country: 'cn' } // 限制在中国範圍
            };
            this.autocomplete = new google.maps.places.Autocomplete(this.$refs.site, options);
            this.autocomplete.addListener('place_changed', () => {
              this.place = this.autocomplete.getPlace();
              if(this.place.geometry) {
                let searchCenter = this.place.geometry.location;
                this.map.panTo(searchCenter); // panTo是平滑移動、setCenter是直接改變地圖中心

                // 放置標記
                let marker = new google.maps.Marker({
                  position: searchCenter,
                  map: this.map
                });

                // info window
                let infowindow = new google.maps.InfoWindow({
                  content: this.place.formatted_address
                });
                infowindow.open(this.map, marker);

              }
            });
          }
        },
        mounted() {
          window.addEventListener('load', () => {

            this.initMap();
            this.siteAuto();

          });
        }
      })
    </script>

 <div class="nav-scroller py-1 mb-2"></div>

               <div class="row">
          <div class="col-md-3 mb-3"></div>
          <div class="col-md-3 mb-3">
              <button class="btn btn-lg btn-primary btn-block" id="btn1" type="submit">帮帮我呀！</button>
          </div>
          <div class="col-md-3 mb-3">
              <button class="btn btn-lg btn-primary btn-block" id="btn2" type="submit">交流一哈！</button>
          </div>
          <div class="col-md-3 mb-3">
          </div>
               </div>
		</form>
                <script>

		var E = window.wangEditor;
		E.width = 1400;
		var editor = new E('#contentDiv')
		var $text1 = $('#content');
		editor.customConfig.onchange = function (html) {
			// 监控变化，同步更新富文本内容到 textarea
			$text1.val(html);
		}
		editor.customConfig.uploadImgShowBase64 = true
        editor.customConfig.uploadImgMaxLength = 4
		editor.create();
		$text1.val(editor.txt.html());

		document.getElementById('btn1').addEventListener('click', function () {
        // 读取 html
        var editor_txt=editor.txt.html();
        document.getElementById('editortxt').value='qz' + editor_txt;
    }, false);

		document.getElementById('btn2').addEventListener('click', function () {
        // 读取 html
        var editor_txt=editor.txt.html();
        document.getElementById('editortxt').value='jl' + editor_txt;
    }, false);
		//获取内容
	</script>

  <div class="row mb-2">
        {% for c in com %}
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Blog</strong>
          <h3 class="mb-0">{{ c.title }}</h3>
          <div class="mb-1 text-muted">{{ c.date }}</div>
          <a href="{% url 'messagedetail' %}?title={{ c.title }}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/></svg>
        </div>
      </div>
    </div>
            {% endfor %}
  {% for h in help %}
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Help</strong>
          <h3 class="mb-0">{{ h.title }}</h3>
          <div class="mb-1 text-muted">{{ h.date }}</div>
          <a href="{% url 'messagedetail' %}?title={{ h.title }}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/></svg>
        </div>
      </div>
    </div>
      {% endfor %}
  </div>

</div>

{% endblock %}
