{% extends "petsemergency/myzone.html" %}
{% load static %}

{% block myzone %}
    <body>
    {% if state == 'none' %}
      <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-1 pt-1">
      </div>
      <div class="col-10 text-center">
        <h3 class="blog-header-logo text-dark" href="#">还没有宠物哦，快去添加一个吧</h3>
      </div>
      <div class="col-1 d-flex justify-content-end align-items-center">
        <a class="text-muted" href="#" aria-label="Search">
        </a>
      </div>
    </div>
  </header>
      {% elif state == 'have' %}
            <div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="..." class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
    {%  endif %}

  <div class="row mb-2">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    <a href="{% url 'addpets' %}"><button class="btn btn-outline-primary" type="submit">Add a sweet pet</button></a>
    </div>
    <div class="col-md-4">
    </div>
  </div>


</body>
{% endblock %}